.git
.github
.idea
.vscode
.zed
.history
.tmp
.tmp_*

.env
.env.*
!.env.example
!.env.production.example

node_modules
vendor
public/build
public/hot
public/storage
test-results
backups

storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/octane/*
bootstrap/cache/*

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
frankenphp
frankenphp-worker.php
